<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkyrimNX_ModManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SkyrimNX_ModManager.Properties.Settings>
            <setting name="SkyrimNXDirectory" serializeAs="String">
                <value>atmosphere/contents/01000A10041EA000/romfs/Data</value>
            </setting>
            <setting name="CreationClubContentFile" serializeAs="String">
                <value>skyrim.ccc</value>
            </setting>
            <setting name="ModsDirectory" serializeAs="String">
                <value>D:/Mods</value>
            </setting>
            <setting name="ConvertedModsDirectory" serializeAs="String">
                <value>D:/ConvertedMods</value>
            </setting>
        </SkyrimNX_ModManager.Properties.Settings>
    </applicationSettings>
</configuration>